In [1]:
# define one variable
x = 1

In [2]:
# assign multiple variables
x = 1
y = 2
z = 3

In [3]:
print(x)

1

In [4]:
# call the variables directly!
x / y * z

1.5

In [5]:
# Use the type() function to get the type of any variable if you're unsure: 
x1 = "Boolean"
print(type(x1))

x2 = True
print(type(x2))

<class 'str'>
<class 'bool'>

In [6]:
# float (decimals)
# use a decimal to create floats
pi = 3.14
print(type(pi))

<class 'float'>

In [7]:
# integer (whole numbers)
# do not use a decimal for integers
amount = 4
print(type(amount))

<class 'int'>

In [8]:
# string (text)
# wrap text data in quotations
welcome = "Welcome to Stanford Libraries"
print(type(welcome))

<class 'str'>

In [9]:
# boolean (logical)
# True or False (stored as 1 and 0)
print(type(True))
print(False - True)

<class 'bool'>
-1

In [10]:
# character strings
'1' + '1'

'11'

In [11]:
# integers
1 + 1

2

In [12]:
animals = ['shark', 'dolphin']
animals[0]

'shark'

In [13]:
# To get an element from a list within a list, double-index the original list!
animals = ['shark', 'dolphin', ['dog', 'cat'], ['tree', 'cactus']]
print(animals[3][0])
print(animals[2][1])

tree
cat

In [14]:
chimera = ['lion', 0.5, 'griffin', 0.5]
print(type(chimera[0]))
print(type(chimera[1]))

<class 'str'>
<class 'float'>

In [15]:
apple = {'name': 'apple', 'color': ['red', 'green'], 'recipes': ['pie', 'salad', 'sauce']}
orange = {'name': 'orange', 'color': 'orange', 'recipes': ['juice', 'marmalade', 'gratin']}

fruits = {'fruits': [apple, orange]}

fruits

{'fruits': [{'name': 'apple',
   'color': ['red', 'green'],
   'recipes': ['pie', 'salad', 'sauce']},
  {'name': 'orange',
   'color': 'orange',
   'recipes': ['juice', 'marmalade', 'gratin']}]}

In [16]:
fruits['fruits'][1]['recipes'][0]

'juice'

In [17]:
frank = open('data/frankenstein.txt').read()

# print only the first 1000 characters
print(frank[:1000])

The Project Gutenberg eBook of Frankenstein, by Mary Wollstonecraft (Godwin) Shelley

This eBook is for the use of anyone anywhere in the United States and
most other parts of the world at no cost and with almost no restrictions
whatsoever. You may copy it, give it away or re-use it under the terms
of the Project Gutenberg License included with this eBook or online at
www.gutenberg.org. If you are not located in the United States, you
will have to check the laws of the country where you are located before
using this eBook.

Title: Frankenstein
       or, The Modern Prometheus

Author: Mary Wollstonecraft (Godwin) Shelley

Release Date: 31, 1993 [eBook #84]
[Most recently updated: November 13, 2020]

Language: English

Character set encoding: UTF-8

Produced by: Judith Boss, Christy Phillips, Lynn Hanninen, and David Meltzer. HTML version by Al Haines.
Further corrections by Menno de Leeuw.

*** START OF THE PROJECT GUTENBERG EBOOK FRANKENSTEIN ***




Frankenstein;

or, the Modern Prom

In [18]:
# Step 1. link the pandas library to our current notebook
import pandas as pd

In [19]:
# Step 2. enter the file path in pandas's read_csv() function  
gap = pd.read_csv("data/gapminder-FiveYearData.csv")

In [20]:
# Step 3. view the data
print(gap)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [21]:
gap

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [22]:
# x 89 5

In [23]:
### indentation
# def example():
#     test = "this is an example function"
#     print(test)
#      return example

In [24]:
# x

In [25]:
# example()

In [26]:
# "5" + 5

In [27]:
my_list = ['green', True, 0.5, 4, ['cat', 'dog', 'pig']]
# my_list[5]

In [28]:
# document = open('fakedocument.txt').read()